/* NOTE Globals */

ul {
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
  height: 300px;
}

#filter-style {
  filter: invert(100%) sepia(69%) saturate(158%) hue-rotate(271deg) brightness(115%) contrast(100%);
}

.flex-1 {
  display: flex;
}

.guidelines {
  border: red solid 2px;
}

/* NOTE Fonts */

.outfit-regular-20 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

.outfit-regular-16 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
}

.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.bayon-regular-30 {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.bayon-regular-36 {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

h2.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h1.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

/* NOTE Navbar Styles */

#nav-link-zrb-s {
  padding-right: 30px;
  padding-left: 30px;
}

.App .navbar-expand-xl .navbar-nav .nav-link-zrb:hover {
  color: #fffedd;
}

.App .navbar-expand-xl .navbar-nav .nav-link-zrb:focus {
  color: #fffedd;
}

.App .navbar-expand-xl .navbar-nav .nav-link-zrb {
  color: #ffffff;
}

.App .nav-link-zrb-2:hover {
  color: #d43941;
}

.App .nav-link-zrb-2 {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
}

.img-food {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 300px 300px 300px 300px;
}

.flex-container {
  display: flex;
}

.border-box {
  box-sizing: border-box;
}

/* NOTE Food Recipe Gallery */

.gallery-wrapper {
  width: 1600px;
  padding: 20px;
  /* overflow-x: scroll;  */
  margin: auto;
}

.search-recipe-image {
  background-image: url("./assets/food-fiesta-backdrop.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
}

.App .btn-primary {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #dee2e6;
  --bs-btn-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d43941;
  --bs-btn-hover-border-color: #ffffff;
}

.content-body-wrapper {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
  text-align: center;
}

.content-body-wrapper-credit {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
}

.content-body-wrapper-faq {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
}

.content-body-wrapper-login {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
}

.content-body-wrapper-loading {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
}

.content-body-wrapper-contact {
  width: 100%;
  padding: 40px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.content-body-wrapper-fall {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: auto;
  min-width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
  margin-top: 60px;
  /* background-color: aliceblue; */
}

.content-body-wrapper-noct {
  width: 1600px;
  padding: 40px;
  height: 100vh;
  margin: auto;
}

/* NEW Imported from Mini Project 1 - Contact Page */

.content-body {
  padding: 60px;
  /* flex-direction: column; */
  /* align-items: center; */
  background-color: #fffedd;
  width: 1600px;
  height: 100%;
  margin: auto;
}

.content-body-flex {
  display: flex;
  /* flex-direction:column; */
  /* align-content: center; */
  justify-content: center;
  height: 600px;
  /* align-items: center; */
}

.test-api {
  background-color: #ffffff;
  margin: 20px 0px 20px 0px;
  width: 60%;
  border: #70ad9b solid 2px;
  padding: 20px;
}

.contacts-title {
  padding: 20px 20px 20px 20px;
}

.contacts-input-long {
  width: 100%;
  border-color: unset; 
  border-width: 0px; 
  border-style: inset;
  /* background-color: #a7ecd7; */
  padding: 10px 20px 10px 20px;
  height: 160px;
  text-align: start;
} 

.contacts-input {
  width: 100%;
  border-color: unset; 
  border-width: 0px; 
  border-style: inset;
  /* background-color: #a7ecd7; */
  padding: 10px 20px 10px 20px;
}

::placeholder {
  color: #363636;
  opacity: 1; 
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #363636;
}

.btn-style-2 {
  padding: 15px 25px 15px 25px;
  background-color: #a7ecd7;
  border: none;
  cursor: pointer;
}

.btn-style-2:hover {
  padding: 15px 25px 15px 25px;
  background-color: #131c19;
  color: #a7ecd7;
  transition: 400ms;
  border: none;
  cursor: pointer;
}

/* NOTE Login / Sign Up Form */



/* NOTE Footer Component Style */

.footer-links {
  color: black; 
  text-decoration-style: none; 
  text-decoration-line: none;
}

.App .footer-links-socials-container {
  display: flex;
  justify-content: space-between;
}

.App .socials-img-space {
  margin-left: 10px;
}

.App .socials-sizing {
  width:40px;
  height:40px;
}

.App .fallback-link {
  color: #000000;
  text-decoration: none;
}

.App .fallback-link:hover {
  color: #d43941;
  text-decoration: none;
  transition: 300ms;
}

/* .App .fallback-link:visited {
  color: #d43941;
  text-decoration: none;
  transition: 300ms;
} */

/* NOTE CSS Overrides React Bootstrap  */

.App .row-cols-3>* {
  flex: 0 0 auto;
  width: 30%;
  padding-right: 0;
  padding-left: 0;
}

.App .row>* {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* NOTE Media Queries LG, MD, SM, XXS */

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 780px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 360px) {

}